[submodule "fw/lib/micropython"]
	path = fw/lib/micropython
	url = git@github.com:micropython/micropython.git
[submodule "fw/lib/stupidArtnet"]
	path = fw/lib/stupidArtnet
	url = git@github.com:cpvalente/stupidArtnet.git
